/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  color: white;
}

html {
  max-width: 1920px;
  min-width: 428px;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
  text-decoration: none;
}

h1 {
  font-size: 7.5rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4rem;
}

p,
a {
  font-size: 3rem;
}

/* header section */
header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/menu-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-background {
  width: 100%;
  background-color: rgb(0, 4, 17, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0 0rem 0;
}
.title h1 a {
  font-size: 6rem;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12vw;
}

.navigation nav {
  margin: 0;
}
.icons {
  text-align: center;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
}

/* spacer */
.spacer {
  width: 100%;
  height: 20vh;
  background-color: rgb(0, 4, 17);
}
.spacer-sm {
  width: 100%;
  height: 10vh;
  background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
  width: 100%;
  height: auto;
  background-image: url("../img/staff-bartender.jpg");
  background-color: rgb(0, 4, 17);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-title {
  background-color: rgb(0, 4, 17, 0.8);
}
.menu-title h2 {
  text-align: center;
}
.whole-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4rem;
}
.menu-section {
  flex-basis: 40%;
}
.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-item h4 {
  flex-basis: 50%;
}

/* footer section */
footer {
  width: 100%;
  height: 15vh;
  padding-top: 2.5vh;
  font-size: 3rem;
  background-color: rgb(0, 4, 17);
}
button {
  color: black;
}
.footer-top {
  display: flex;
  justify-content: space-around;
}
.email {
  flex-basis: 30%;
}
.menu-cr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
.nav nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 6rem;
}
.copyright {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  align-items: flex-end;
}

/* mobile media query */
@media (max-width: 428px) {
  /* header section */
  .header-title {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }
  .header-title {
    text-align: center;
    padding: 2rem 3rem 0 3rem;
  }

  .nav-items a {
    font-size: 2.5rem;
  }

  /* menu */
  .menu {
    background-image: none;
    background-color: rgb(225, 239, 230);
  }
  .menu-title {
    background-color: rgb(225, 239, 230);
  }
  .menu-title h3 {
    padding: 1rem 2rem;
    border: solid 0.5rem black;
  }
  .menu-title h2,
  h3,
  h4,
  p {
    color: black;
    text-align: center;
  }
  .menu-item {
    flex-direction: column;
  }

  /* footer section */
  footer {
    height: auto;
    padding-top: 2.5vh;
    font-size: 2rem;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .nav nav a {
    font-size: 2rem;
  }
  .copyright {
    font-size: 1rem;
  }
}